@import 'tailwindcss';

/* Pretendard 폰트 */
@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src:
    local('Pretendard Black'),
    url('/fonts/Pretendard-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src:
    local('Pretendard ExtraBold'),
    url('/fonts/Pretendard-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url('/fonts/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard Medium'),
    url('/fonts/Pretendard-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url('/fonts/Pretendard-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src:
    local('Pretendard Light'),
    url('/fonts/Pretendard-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src:
    local('Pretendard ExtraLight'),
    url('/fonts/Pretendard-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src:
    local('Pretendard Thin'),
    url('/fonts/Pretendard-Thin.woff2') format('woff2');
}

body {
  /* 기본 폰트 선언 */
  font-family: 'Pretendard', sans-serif;
  color: var(--text-primary, white);

  /* 기본 배경색 선언 */
  /* background-color: var(--bg-primary, #030622); */
  word-break: keep-all;

  height: 100%;
}

[data-theme='dark'] {
  --bg-from: #2e1065;
  --bg-via: #0f172a;
  --bg-to: #020617;
  --text-primary: white;

  --text-90: rgba(255, 255, 255, 0.9);
  --text-80: rgba(255, 255, 255, 0.8);
  --text-60: rgba(255, 255, 255, 0.6);
  --text-50: rgba(255, 255, 255, 0.5);
  --text-30: rgba(255, 255, 255, 0.3);
  --text-20: rgba(255, 255, 255, 0.2);
  --text-10: rgba(255, 255, 255, 0.1);

  --green-90: rgb(119, 255, 162, 0.9);
  --green-50: rgba(120, 219, 137, 0.5);
  --green-20: rgb(120, 219, 136, 0.2);
  --green-10: rgb(120, 219, 136, 0.1);
  --green-30: rgb(119, 255, 162, 0.3);

  --text-green: #78db88;
  --text-light-green: #9fecb2;

  --header-color: var(--color-bg-dark-blue);
  --text-layout: var(--color-gray-400);

  background: linear-gradient(
    to bottom right,
    var(--bg-from),
    var(--bg-via),
    var(--bg-to)
  ) !important;
  color: var(--text-primary);
}

[data-theme='light'] {
  --bg-from: #e2dfff;
  --bg-via: #ffffff;
  --bg-to: #6200ff;
  --text-primary: black;

  --text-90: rgba(0, 0, 0, 0.9);
  --text-80: rgba(0, 0, 0, 0.8);
  --text-60: rgba(0, 0, 0, 0.6);
  --text-50: rgba(0, 0, 0, 0.5);
  --text-30: rgba(0, 0, 0, 0.3);
  --text-20: rgba(0, 0, 0, 0.2);
  --text-10: rgba(0, 0, 0, 0.1);

  --green-90: rgb(119, 255, 162, 0.9);
  --green-50: rgba(120, 219, 137, 0.8);
  --green-20: rgba(120, 219, 136, 0.7);
  --green-10: rgba(120, 219, 136, 0.3);
  --green-30: rgba(107, 214, 141, 0.384);

  --text-green: #2db345;
  --text-light-green: #009a26;

  --header-color: #e2dfff;
  --text-layout: var(--color-gray-600);

  background: linear-gradient(
    to bottom right,
    var(--bg-from),
    var(--bg-via),
    var(--bg-to)
  ) !important;
  color: var(--text-primary);
}

@theme {
  /* 색상 변수 설정 */
  --color-purple: #a38cf3;
  --color-dark-purple: #4d369d;
  --color-bg-dark-blue: #1e1e1e;
  --color-deep-dark-purple: #283466;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  font-size: initial !important;
  font-weight: 600 !important;
  font-family: inherit !important;
}

.prose h1 {
  font-size: 1.5rem !important;
}
.prose h2 {
  font-size: 1.25rem !important;
}
.prose h3 {
  font-size: 1rem !important;
}

.w-md-editor textarea {
  -webkit-text-fill-color: #fff !important;
  height: 100% !important;
  min-height: 1000px !important;
}
